@model List<CinemaWeb.Domain.Entity.Film>
@{
    ViewData["Title"] = "GetFilms";
}

<style>
    .card-buttons-group {
        text-align: right;
        padding: 10px;
    }
</style>

@*<div class="card-buttons-group">
    <button class="btn btn-danger" id='hideCardsId'>Скрыть</button>
    <button class='btn btn-success' id='showCardsId'>Показать</button>
</div>*@

<div style="padding: 10px;"></div>
@if (Model == null)
{
    <div class="card col-md-12">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="https://pbs.twimg.com/profile_images/829851381272035330/MdAMLH1n_400x400.jpg"
                 class="img-fluid rounded-start rounded">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h1 class="card-title text-down">Список фильмов пуст.</h1>
                </div>
            </div>
        </div>
    </div>
  
}
else
{
    <div class="row">
        @foreach (var film in Model)
        {
            <div class="row row-cols-3 col-md-3 text-center">
                <div class="col" style="padding: 10px;">
                    <div class="card">
                        <img src="https://kuda-spb.ru//uploads/190729192252260.jpg" class="img-fluid img-thumbnail" alt="@film.Name">
                        <div class="card-body">
                            <h5 class="card-title">@film.Name</h5>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Стоимость: от @film.Price BYN</li>
                            <li class="list-group-item">@film.GenreFilm</li>
                        </ul>
                        <div class="card-body">
                            <a asp-action="GetFilm" asp-route-id="@film.Id" class="card-link">Перейти</a>
                             @*<a asp-controller="Film" asp-action="Add" asp-route-id="@id" class="card-link">Добавить</a> *@
                               @if (User.IsInRole("Admin"))
                            {
                                <hr />
                                <a asp-controller="Film" asp-action="Delete" asp-route-id="@film.Id" class="btn btn-danger">Удалить</a>
                                <a asp-controller="Film" asp-action="Save" asp-route-id="@film.Id" class="btn btn-primary">Изменить</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}

@*@section pageScripts {
    <script>
        const hideCardElement = $('#hideCardsId');
        const showCardElement = $('#showCardsId');
        const cardElement = $('.card');

        const interval = 1000;

        hideCardElement.click(function () {
            hideCardElement.hide(interval);
            showCardElement.show(interval);
            cardElement.hide(interval);
        });

        showCardElement.click(function () {
            hideCardElement.show(interval);
            showCardElement.hide(interval);
            cardElement.show(interval);
        });
    </script>
}
*@
